.group-progress-card {
  @include card;
}

.group-progress-card__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.group-progress-card__list {
  list-style: none;
  padding-left: 0px;
}

.group-progress-card__complete {
  text-decoration: line-through;
}

.group-progress-card__dismissed {
  display: none;
}

.group-progress-card__learn-more {
  @include cardMinorAction;
}
