.lmo-blank
  %section.group-progress-card{ng-if: "show()"}>
    .group-progress-card__row
      %h2#group-progress-card__title.lmo-card-heading{translate: "loomio_onboarding.group_progress_card.title"}
      %material_modal_header_cancel_button

    %ul.group-progress-card__list
      %li.group-progress-card__list-item{ng-click: "activity.click()", ng-repeat: "activity in activities", ng-class: "{'group-progress-card__complete': activity.complete()}"}
        %i.material-icons{ng-if: "activity.complete()"}> check_box
        %i.material-icons{ng-if: "!activity.complete()"}> check_box_outline_blank
        %span.group-progress-card__activity-text {{ translationFor(activity.translate) }}

    .group-progress-card__celebration-message{ng-if: "setupComplete()"}
      %span> 🎉
      %strong{translate: "loomio_onboarding.group_progress_card.celebration_message"}>
      %a.lmo-pointer{ng-click: "$close()", translate: "loomio_onboarding.group_progress_card.dismiss_this_card"}

    %a.lmo-pointer{ng-if: "showContactUs()", ng-click: "contactUs()", title: "{{ 'loomio_onboarding.group_progress_card.learn_more_title' | translate }}"}
      %span{translate: "loomio_onboarding.group_progress_card.learn_more"}>
