.blank
  %section.group-progress-card
    %h2.lmo-card-heading{translate: "group_progress_card.title"}

    .group-progress-card__checkbox
      %input.group-progress-card__set-description#set-group-description{type: "checkbox", ng-checked: "group.description"}
      %label{for: "set-group-description", translate: "group_progress_card.set_description"}>

    .group-progress-card__checkbox
      %input.group-progress-card__set-description#set-profile-photo{type: "checkbox", ng-checked: "userHasProfilePicture()"}
      %label{for: "set-profile-photo", translate: "group_progress_card.set_profile_photo"}>

    .group-progress-card__checkbox
      %input.group-progress-card__set-description#set-cover-photo{type: "checkbox", ng-checked: ""}
      %label{for: "set-cover_photo", translate: "group_progress_card.set_cover_photo"}>

    .group-progress-card__checkbox
      %input.group-progress-card__set-description#set-group-description{type: "checkbox"}
      %label{for: "set-group-description", translate: "group_progress_card.set_description"}>

    .group-progress-card__checkbox
      %input.group-progress-card__set-description#set-group-description{type: "checkbox"}
      %label{for: "set-group-description", translate: "group_progress_card.set_description"}>
