.user-progress-card {
  padding: 8px;
}

.user-progress-card .material-modal-header-cancel-button {
  position: relative;
  bottom: 8px;
}

.user-progress-card__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-progress-card__list {
  list-style: none;
  padding: 0;
  margin: 0 0 8px 0;
}

.user-progress-card__list-item {
  @include displayFlex;
  line-height: 32px;
  align-items: center;
  cursor: pointer;
  -webkit-align-items: center;
}

.user-progress-card__complete i {
  color: $loomio-orange;
}

.user-progress-card__complete .user-progress-card__activity-text {
  color: $grey-on-white;
}

.user-progress-card__list-item i {
  margin-right: 8px;
}

.user-progress-card__celebration-message {
  line-height: 32px;
  padding: 4px;
  @include truncateText;
}

.user-progress-card__activity-text {
  @include truncateText;
}

.user-progress-card__learn-more {
  @include cardMinorAction;
}
