.blank
  .introduction-carousel.animated{ng-if: "showIntroCarousel", aria-label: "{{'loomio_onboarding.introduction_carousel.aria_label' | translate }}", role: "alertdialog"}
    .introduction-carousel__slide-wrapper
      %a.introduction-carousel__arrow-prev{ng-if: "slideIndex > 0", ng-click: "clickPrevSlide()"}
        .introduction-carousel__icon-container
          %i.fa.fa-2x.fa-long-arrow-left
      .introduction-carousel__left-slide-margin{ng-if: "slideIndex == 0"}

      .introduction-carousel__slides.animated.go-left
        .introduction-carousel__slide.animated{ng-if: "slideIndex == 0", md-swipe-left: "nextSlide()", md-swipe-right: "prevSlide()"}
          %button.introduction-carousel__close{type: "button", class: "close", ng-click: "dismiss()"}
            %span &times;
            %span.sr-only{translate: "common.action.cancel"}
          %img.introduction-carousel__slide-image{ng-src: "img/gather.png", aria-hidden: "true", alt: "{{ 'loomio_onboarding.introduction_carousel.gather_alt_text' | translate }}"}
          .introduction-carousel__slide-text
            .introduction-carousel__slide-title
              %strong{translate: "loomio_onboarding.introduction_carousel.gather_title"}
            .introduction-carousel__slide-description{translate: "loomio_onboarding.introduction_carousel.gather_description"}
          .introduction-carousel__actions
            .introduction-carousel__button-container
              %a.introduction-carousel__button.lmo-btn--featured{href: "http://loomio.school/beginner/", target: "_blank", title: "{{'loomio_onboarding.introduction_carousel.learn_more_title' | translate}}", translate: "loomio_onboarding.introduction_carousel.learn_more"}
            .introduction-carousel__button-container
              %button.introduction-carousel__button.introduction-carousel__button--get-started.lmo-btn--featured{ng-click: "dismiss()", translate: "loomio_onboarding.introduction_carousel.get_started"}

        .introduction-carousel__slide.animated{ng-if: "slideIndex == 1", md-swipe-left: "nextSlide()", md-swipe-right: "prevSlide()"}
           %button.introduction-carousel__close{type: "button", class: "close", ng-click: "dismiss()"}
              %span &times;
              %span.sr-only{translate: "common.action.cancel"}
          %img.introduction-carousel__slide-image{ng-src: "img/discuss.png", aria-hidden: "true", alt: "{{ 'loomio_onboarding.introduction_carousel.discuss_alt_text' | translate }}"}
          .introduction-carousel__slide-text
            .introduction-carousel__slide-title
              %strong{translate: "loomio_onboarding.introduction_carousel.discuss_title"}
            .introduction-carousel__slide-description{translate: "loomio_onboarding.introduction_carousel.discuss_description"}
          .introduction-carousel__actions
            .introduction-carousel__button-container
              %a.introduction-carousel__button.lmo-btn--featured{href: "http://loomio.school/beginner/", target: "_blank", title: "{{'loomio_onboarding.introduction_carousel.learn_more_title' | translate}}", translate: "loomio_onboarding.introduction_carousel.learn_more"}
            .introduction-carousel__button-container
              %button.introduction-carousel__button.lmo-btn--featured{ng-click: "dismiss()", translate: "loomio_onboarding.introduction_carousel.get_started"}

        .introduction-carousel__slide.animated{ng-if: "slideIndex == 2", md-swipe-left: "nextSlide()", md-swipe-right: "prevSlide()"}
          %button.introduction-carousel__close{type: "button", class: "close", ng-click: "dismiss()"}
            %span &times;
            %span.sr-only{translate: "common.action.cancel"}
          %img.introduction-carousel__slide-image{ng-src: "img/propose.png", aria-hidden: "true", alt: "{{ 'loomio_onboarding.introduction_carousel.propose_alt_text' | translate }}"}
          .introduction-carousel__slide-text
            .introduction-carousel__slide-title
              %strong{translate: "loomio_onboarding.introduction_carousel.propose_title"}
            .introduction-carousel__slide-description{translate: "loomio_onboarding.introduction_carousel.propose_description"}
          .introduction-carousel__actions
            .introduction-carousel__button-container
              %a.introduction-carousel__button.lmo-btn--featured{href: "http://loomio.school/beginner/", target: "_blank", title: "{{'loomio_onboarding.introduction_carousel.learn_more_title' | translate}}", translate: "loomio_onboarding.introduction_carousel.learn_more"}
            .introduction-carousel__button-container
              %button.introduction-carousel__button.lmo-btn--featured{ng-click: "dismiss()", translate: "loomio_onboarding.introduction_carousel.get_started"}

        .introduction-carousel__slide.animated{ng-if: "slideIndex == 3"}
          %button.introduction-carousel__close{type: "button", class: "close", ng-click: "dismiss()"}
            %span &times;
            %span.sr-only{translate: "common.action.cancel"}
          %img.introduction-carousel__slide-image{ng-src: "img/act.png", aria-hidden: "true", alt: "{{ 'loomio_onboarding.introduction_carousel.act_alt_text' | translate }}"}
          .introduction-carousel__slide-text
            .introduction-carousel__slide-title
              %strong{translate: "loomio_onboarding.introduction_carousel.act_title"}
            .introduction-carousel__slide-description{translate: "loomio_onboarding.introduction_carousel.act_description"}
          .introduction-carousel__actions
            .introduction-carousel__button-container
              %a.introduction-carousel__button.lmo-btn--featured{href: "http://loomio.school/beginner/", target: "_blank", title: "{{'loomio_onboarding.introduction_carousel.learn_more_title' | translate}}", translate: "loomio_onboarding.introduction_carousel.learn_more"}
            .introduction-carousel__button-container
              %button.introduction-carousel__button.lmo-btn--featured{ng-click: "dismiss()", translate: "loomio_onboarding.introduction_carousel.get_started"}

      %a.introduction-carousel__arrow-next{ng-if: "slideIndex < 3", ng-click: "clickNextSlide()"}
        .introduction-carousel__icon-container
          %i.fa.fa-2x.fa-long-arrow-right
      .introduction-carousel__right-slide-margin{ng-if: "slideIndex == 3"}

    .introduction-carousel__navigation{aria-hidden: "true"}
      %ul.introduction-carousel__dots
        %li{ng-repeat:"slide in slides"}
          %a.introduction-carousel__dot{ng-class: "{'introduction__carousel-dot--active':isCurrentSlideIndex($index)}", ng-click: "transition($index)"}
